@model StudentPortal.Core.Model.Model1.StudentMarkDetails


<h2 class="text-center"> Results </h2>
<div class="alignLogin">
    <div>
        <label class="font-weight-bold">Roll No <span> <p class="ml-5">@(Model.Student_First_Name ) </p></span></label>
    </div>
    <div>
        <label class="font-weight-bold">Roll No <span> <p class="ml-5">@(Model.Student_Roll_No ) </p></span></label>
    </div>
    <div>
        <label class="font-weight-bold">Name <span><p class="ml-5">@(Model.English ) </p> </span> </label>
    </div>
    <div>
        <label class="font-weight-bold"> Tamil <span> <p class="ml-5">@(Model.Maths ) </p> </span> </label>
    </div>
    <div>
        <label class="font-weight-bold">English <span> <p class="ml-5">@(Model.Sciences ) </p></span> </label>
    </div>
    <div>
        <label class="font-weight-bold">Maths <span> </span><p class="ml-5">@(Model.Total ) </p> </label>
    </div>
    <div>
        <label class="font-weight-bold">Science <span><p class="ml-5">@(Model.Average ) </p> </span> </label>
    </div>

</div>

