@model StudentPortal.Core.Model.StudentRegistarionDetails
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<style>
    span {
        color: red;
    }

    .message {
        color: red;
    }
    .row {
        margin-top: 5%;
        margin-left: 30%;
    }
    h3 {
        color: orange;
    }

</style>



@using (Html.BeginForm("StudentLoge", "Student", FormMethod.Post, new { role = "form", id = "formDetails" }))
{
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="form-group col-md-6">
                <i class="fas fa-graduation-cap"></i><h3>Student Login</h3>
                @Html.LabelFor(x => x.StudentFirstName, new { @class = "form-label" })<span>*</span>

                @Html.TextBoxFor(x => x.StudentFirstName, new { @class = "form-control", @placeholder = "Enter Your UserName" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.StudentPassword, new { @class = "form-label" })<span>*</span>

                @Html.PasswordFor(x => x.StudentPassword, new { @class = "form-control", @placeholder = "Enter Your Password" })
                <i class="message"> @ViewBag.Message</i>
            </div>

            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-outline-primary" onclick="SubmitDetails()">Submit</button>
            </div>
            </div>
        </div>

        </div>
        }
        <script>
    function adddetail() {
        window.location.href = "@Url.Action("ViewFile", "Student")";
    }
        </script>
        <script type="text/javascript">
            $(function () {
                $("#formDetails").validate({
                    rules: {
                        UserName:
                        {
                            required: true

                        },
                        Password:
                        {
                            required: true
                        }
                    },


                    messages:
                    {
                        UserName:
                        {
                            required: "Enter UserName"
                        },
                        Password:
                        {
                            required: "Password is required"

                        }

                    }
                });
            });
            function SubmitDetails() {
                if ($("#formDetails").validate()) {
                    $("#formDetails").submit();
                }
            }
        </script>

